/* ========================== Component Name ========================== */
$component: post-preview;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
}

.$(component) {
  position: relative;
  width: 90%;
  max-width: var(--wrap-sm);
  margin: 0 auto;
  padding: 60px 0 100px;

  &__title {
    width: 100%;
    max-width: 505px;
    margin: 0 auto 50px;
    text-align: center;
  }

  &__app {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__list {
    display: none;
    width: 100%;
    max-width: var(--wrap-xs);
    margin: 0 auto;
    list-style: none !important;

    li {
      margin-bottom: 2px;
      padding: 15px 30px;
      color: var(--blue);
      font-weight: 300;
    }

    li:hover {
      background-color: var(--blue-light);
      cursor: pointer;
    }

    li.active {
      background-color: var(--blue-light);
      font-weight: 400;
    }
  }

  &__dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid var(--teal);
    border-radius: 0px 0px 4px 4px;

    select {
      width: 100%;
      padding: 15px 30px;
      color: var(--blue);
      appearance: none;
      border: none;
    }

    svg {
      width: 12px;
      height: auto;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      fill: var(--blue);
    }
  }

  &__content {
    width: 100%;
    background-color: var(--blue-light);
    margin: 0 auto;

    &.services {
      padding: 45px 60px;
      border-radius: 0px 0px 4px 4px;
    }

    &.faqs {
      padding: 0 0 0 20px;
    }

    img {
      display: inline-block;
      width: auto;
      height: 60px;
      margin:0 20px 10px 0;
      object-fit: contain;
    }

    .$(component)__title {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      color: var(--blue);
      vertical-align: middle;
      text-align: left;
    }

    .btn {
      margin-top: 25px;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 20px 10px 20px 0;
    color: var(--teal);
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid var(--light);

    h4 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    svg {
      fill: var(--green);
      width: 12px;
      margin-left: auto;
    }

    p {
      display: none;
      width: 100%;
      margin-top: 12px;
    }

    &.active {
       p {
        display: inline-block;
       }

      .fa-plus {
        display: none;
      }

      .fa-minus {
        display: inline-block;;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .fa-minus {
    display: none;
  }
  /* ========================== Modifiers ========================== */

  &__faqs {
    .$(component){
      &__content {
        width: 100%;
        max-width: var(--wrap-md);
        background-color: white;
        margin: 0 auto;

        .btn {
          display: none;
        }
      }
    }
  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */

  &.fir--dark {
    .$(component)__title {
      color: var(--blue);
    }

    .$(component)__title {
      color: var(--blue);
    }
  }

  &.fir--light {
    .$(component)__title {
      color: var(--teal);
    }

    .$(component)__title {
      color: var(--teal);
    }
  }
}

.home .$(component)__content {
  text-align: left;
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
}

/* ================ Query: Large */
$(is).LG .$(component){
  &__list {
    width: 37%;
  }

  &__content {
    position: sticky;
    top: 200px;
    width: 50%;

    &.services {
      max-width: var(--wrap-md);
    }

    &.faqs {
      max-width: 575px;
    }
  }

  &__list {
    display: inline-block;
  }

  &__dropdown {
    display: none;
  }
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
