<template>
  <div class="post-preview__app">
    <ul class="post-preview__list">
      <li v-for="post in posts" :key="post.post_name" @click="showPost(post.post_name)" :class="{active: (post.post_name === activePost.post_name )}">{{ post.post_title }}</li>
    </ul>
    <div class="post-preview__dropdown">
      <select @change="showPostM($event)">
        <option v-for="post in posts" :key="post.post_name" :value="post.post_name">{{ post.post_title }}</option>
      </select>
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
    </div>
    <div class="post-preview__content" :class="{ services: activeCustom.service_info, faqs: activeCustom.faqs }">
      <img v-if="activeCustom.service_info && activeCustom.service_info.service_icon" :src="activeCustom.service_info.service_icon.url" :alt="activePost.post_title">
      <img v-if="activeCustom.faqs && activeCustom.faqs.faq_icon" :src="activeCustom.faqs.faq_icon.url" :alt="activePost.post_title">
      <h3 class="post-preview__title">{{ activePost.post_title }}</h3>
      <p v-if="activeCustom.service_info && activeCustom.service_info.service_description">{{ activeCustom.service_info.service_description }}</p>
      <a v-if="activeCustom.service_info" :href="/services/ + activePost.post_name + '/'" class="btn btn--full">Learn More</a>
      <div v-if="activeCustom.faqs" class="post-preview__accordion">
        <ul>
          <li class="post-preview__question" v-for="(item, index) in activeCustom.faqs.faqs" :key="index" @click="toggleQuestion">
            <h4>
              {{ item.question }}
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
            </h4>
            <p>{{ item.answer }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'fir-post-preview',
  props: ['posts', 'fields'],
  data() {
    return {
      activePost: null,
      activeCustom: null,
      active: null
    }
  },
  created() {
    this.activeCustom = this.fields[0];
    this.activePost = this.posts[0];
    this.active = this.posts[0].post_name
  },
  methods: {
    showPostM(event){
      this.activePost = this.posts.find(element => element.post_name == event.target.value)
      this.activeCustom = this.fields[this.posts.indexOf(this.activePost)];
    },
    showPost(slug) {
      this.activePost = this.posts.find(element => element.post_name == slug)
      this.activeCustom = this.fields[this.posts.indexOf(this.activePost)];
    },
    toggleQuestion(event) {
      if(event.currentTarget.classList.contains('active')) {
        event.currentTarget.classList.remove('active');
      } else{
        if(document.querySelector('.post-preview__question.active')) {
          document.querySelector('.post-preview__question.active').classList.remove('active');
        }
        event.currentTarget.classList.add('active');
      }
    }
  }
}
</script>
